<form method="post" action="{{ path('app_adherent_delete', {'id': adherent.id}) }}" class="d-inline">
    <button class="btn btn-danger btn-lg" type="submit">
        <i class="bi bi-trash-fill me-2"></i>Supprimer l'adhérent
    </button>
</form>
